
div, table, tr, td {
	text-align: center;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
}

hr {
	border: 1px solid lightgray;
	margin: 30px auto 30px auto;
}

a:link {
	color: black;
	font-style: normal;
	text-decoration: none;
}

.link:hover {
	color: #dd8899;
	font-weight: bold;
	font-size: 1.05em;
	background-color: #fffafa;
	cursor: pointer;
}

.list tr:hover {
	color: #dd8899;
	font-weight: bold;
	background-color: #fffafa;
}

#form {
	border: 1px solid lightgrey;
	padding: 0px 0px 20px 0px;
	margin: 30px 10% 30px 10%;
}

#playlist {
	/*display: table;*/
	/*left: 50%;*/
	/*width: 50%;*/
	border: 1px solid lightgrey;
	box-shadow: 3px 8px 8px lavender;
	padding: 0px 0px 20px 0px;
	margin: 30px 10% 30px 10%;
}


#playlist>div:not(.title) {
	padding: 10px 10px 10px 10px;
}

div.title {
	font-size: 30pt;
	font-weight: 500;
	padding-top: 30px;
}

.writetb td, .writetb th {
	padding: 10px;
}
.bottom {
	padding: 10px;
}

.bottom>input {
	width: 100px;
	height: 30px;
}

.title .musictitle {
	color: pink;
	font-size: 0.8em;
	margin: 20px;
}
